/* Footer con botones sociales */
.site-footer {
  width: 97,5%;
  background: (rgba(255, 255, 255, 0.649));
  color: #fff;
  padding: 18px 20px;
  position: relative;
  bottom: 0;
}

.footer-inner {
  max-width: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.footer-brand { font-weight: 700; letter-spacing: 1px; }

.footer-buttons { 
  display: flex; 
justify-content: space-around; }

.social-btn.instagram {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgba(255, 172, 186, 0.234);
  color: #fff;
  font-weight: 600;
  transition: transform 0.15s ease, opacity 0.15s ease;
}
.social-btn.gmail {
  display: inline-block;
  position:right;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.251);
  color: #fff;
  font-weight: 600;
  margin-left: 20px;
  transition: transform 0.15s ease, opacity 0.15s ease;
}
.social-btn.whatsapp{
  position:fixed;
  width:85px;
  height:85px;
  bottom:30px;
  right:25px;
  background:#27cd6442;
  color:white;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:16px;
  text-decoration:none;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition:0.5s;
}

.social-btn:hover { transform: translateY(-5px); opacity: 0.95; }



@media (max-width: 560px) {
  .footer-inner { flex-direction: column; text-align: center; }
  .footer-buttons { margin-top: 8px; }
}
